<div class="container">
  <h2>USER LIST</h2>
</div>
<div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutstart="center">
  <div fxFlex="30.8">
    <mat-card class="example-cardtotal">
      <mat-card-content style="padding: 24px">
        <p style="color: white; font-size: 20px; text-align: center">
          TOTAL USERS
        </p>
        <p style="color: white; font-size: 28px; text-align: center">
          {{ this.total }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30.8">
    <mat-card class="example-cardactive">
      <mat-card-content style="padding: 24px">
        <p style="color: white; font-size: 20px; text-align: center">
          ACTIVE USERS
        </p>
        <p style="color: white; font-size: 28px; text-align: center">
          {{ this.active }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30.8">
    <mat-card class="example-cardnonctive">
      <mat-card-content style="padding: 24px">
        <p style="color: white; font-size: 20px; text-align: center">
          NON ACTIVE USERS
        </p>
        <p style="color: white; font-size: 28px; text-align: center">
          {{ this.nonactive }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="status">
    <mat-button-toggle-group
      name="status"
      aria-label="status"
      (change)="changeSwitch($event.value)"
    >
      <mat-button-toggle value="all">All</mat-button-toggle>
      <mat-button-toggle value="active">ACTIVE</mat-button-toggle>
      <mat-button-toggle value="nonactive">NON Active</mat-button-toggle>
    </mat-button-toggle-group>

    <br /><br />
    <ejs-grid
      #grid
      [dataSource]="userdata"
      gridLines="Both"
      [allowFiltering]="true"
      [allowSorting]="true"
      [allowPaging]="true"
    >
      <e-columns>
        <e-column
          field="name"
          headerText="Name"
          width="90"
          type="Text"
          Text-align="center"
        ></e-column>
        <e-column
          field="emailId"
          headerText="Email Id"
          width="90"
          type="Tel"
          Text-align="center"
        ></e-column>
        <!-- <e-column
          field="active"
          headerText="Status"
          width="90"
          type="text"
          Text-align="center"
        ></e-column> -->
        <e-column
          field="collegeId"
          headerText="College ID"
          width="90"
          type="text"
          Text-align="center"
          format="yMd"
        ></e-column>
        <e-column
          field="dept"
          headerText="Department"
          width="90"
          type="text"
          Text-align="center"
        ></e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>
