h2{
   
    border-radius: 12px;
    padding: 5px;
    background-color: grey;
    color: white;
    text-align: center;
}
.example-cardtotal{
    background-color: #1f4788;
    height: 150px;
    width:350px;
    border: 0px;
    border-style: ridge;
    border: 1px solid blue;
    margin-left: 10px;
}h2{
    border: 10px solid white;
    border-radius: 12px;
    padding: 5px;
    background-color: grey;
    color: white;
    text-align: center;
}

.reg{

    background-color: dodgerblue;
    color: white; 
    border: 2px solid dodgerblue;
    border-radius: 2px;
    margin-left: 816px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
}