h2{
   
    border-radius: 12px;
    padding: 5px;
    background-color: grey;
    color: white;
    text-align: center;
}
.example-cardtotal{
    background-color: #1f4788;
    height: 150px;
    width:350px;
    border: 0px;
    border-style: ridge;
    border: 1px solid blue;
    margin-left: 10px;
}
.example-cardactive{
    background-color: #4B9256;
    height: 150px;
    width:350px;
    border: 0cm;
    border-style: ridge;
    border: 1px solid blue;
}
.example-cardnonctive{
    background-color: #EA730B;
    height: 150px;
    width:350px;
    border: 0cm;
    border-style: ridge;
    border: 1px solid blue;
}
.status{
    margin-top: 40px;
    margin-left:30px;
}