<div class="container">
    <br><br>
    <h1>Welcome</h1>
    <br>
    <h5>To</h5>
    <br>
    <h3>Library Management System</h3>
</div>

<div class="row">
    <button routerLink="login" routerLinkActive="active" >
        <div class="login-card-user">
            <img class="login-card-img" src="../../assets/images/privacy.png" alt="login-image" srcset="">
            <h5 class="login-text">User Login</h5>
        </div>
    </button>
    <div class="spacer login-card-user"></div>
    <button routerLink="login" routerLinkActive="active">
        <div class="login-card-user">
            <img class="login-card-img" src="../../assets/images/privacy.png" alt="login-image" srcset="">
            <h5 class="login-text">Admin Login</h5>
        </div>
    </button>
   
   
</div>
