<div class="container">
  <h2>ADD USER</h2>
  <div class="content">
    <table style="width: 25%" align="center">
      <tr>
        <td><label for="name">NAME</label></td>
        <td>
          <input
            type="text"
            name="name"
            id="name"
            [(ngModel)]="name"
            required
          />
        </td>
      </tr>
      <br />
      <tr>
        <td><label for="mail">EMAIL</label></td>
        <td>
          <input
            type="mail"
            name="email"
            id="email"
            [(ngModel)]="email"
            required
          />
        </td>
      </tr>
      <br />
      <tr>
        <td><label for="collegeId">COLLEGE ID</label></td>
        <td>
          <input
            type="text"
            name="collegeId"
            id="collegeId"
            [(ngModel)]="collegeId"
            required
          />
        </td>
      </tr>
      <br />
      <tr>
        <td><label for="collegeId">DEPARTMENT</label></td>
        <td>
          <input
            type="text"
            name="dept"
            id="dept"
            [(ngModel)]="dept"
            required
          />
        </td>
      </tr>

      <br />
      <tr>
        <td><label for="password">PASSWORD</label></td>
        <td>
          <input
            type="password"
            name="password"
            id="password"
            [(ngModel)]="password"
            required
          />
        </td>
      </tr>
      <br />
    </table>
  </div>

  <button class="reg" (click)="register()">REGISTER</button>
</div>
